<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"
    package="com.linx.mylibrary">
    <!--权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--end-->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.umeng.socialize.media.DouYinEntryActivity"
            android:exported="true"
            tools:ignore="MissingClass" />
        <activity android:name="com.linx.mylibrary.scaner.ActivityScanerCode" />
        <activity android:name="com.linx.mylibrary.scaner.ActivityScanerCode_Two" />
    </application>

</manifest>
